.fc-col-header-cell-cushion{
    color:#ffffff;
    font-size: 16px;
    text-decoration: none;
}

.fc-col-header-cell-cushion:hover{
    color:#ffffff;
    font-size: 16px;
    text-decoration: none;
}

.fc-daygrid-day-number{
    color:#002639;
    font-size: 16px;
    text-decoration: none;
}

.fc-daygrid-day-number:hover{
    color:#002639;
    font-size: 16px;
    text-decoration: none;
}




