form{
    height: 100px;
    border-radius: 20px;
    box-shadow: 0 2px 6px 0 rgba(236, 82, 81, .2), 0 24px 20px -24px rgba(0, 38, 57, .1); 
    margin-top :10px;  
}
.ipt{
    box-shadow: 0 2px 6px 0 rgba(236, 82, 81, .2), 0 24px 20px -24px rgba(0, 38, 57, .1);   
    border-radius: 10px;
    height: 40px;
}
.input-group-text{
    background-color:  #EC5251;
    box-shadow: 0 2px 6px 0 rgba(236, 82, 81, .2), 0 24px 20px -24px rgba(0, 38, 57, .1);   
    border-radius: 10px;
}
.i{
    color: #ffffff;
}
.btnAjout{
    background-color: #002639;
}
