
  .btn1{
	background-color:#002639;
	color : #fff;
	font-size:16px;
	font-weight: bolder;
	width:45px;
	border:#002639 ;
	height: 38px;
	margin-right: 10px;
	margin-left: 10px;


  }

  
	.btn3{
		background-color:#ec5251;
	color : #fff;
	font-size:16px;
	font-weight: bolder;
	width:45px;
	border:#ec5251 ;
	height: 38px;
	margin-right: 10px;
	margin-left: 5px;
	}
   .card-body{
	background-color:#da64645a;
	 border-radius:0px 0px 15px 15px;
  } 

  .tr{
	width: 18rem; 
	border-radius:15px 15px 15px 15px;
  }
  p,h3{
	color: #fff;
  }
  th{
	color: #fff;
	

  } 