.btn2{
    background-color:#002639; 
    color:#fff;
    font-size:16px;
    font-weight:bolder;
    width:65px;
    height:40px;
}
.btns{
    font-weight:bolder;
    width:50px;
    height:40px;
    background-color:#ec5251;
    color:#fff;
}
.p1{
    color:rgb(9, 169, 86);
     font-size:16px;
     fontWeight:"bolder"

}
