.btn2{
    background-color:#002639; 
    color:#fff;
    font-size:16px;
   height:30px;
    width:60px;
    ;
}
.update{
    font-weight:bolder;
    width:60px;
    background-color:#ec5251
}
.p1{

}
.p2{
    
}